*{
    box-sizing: border-box;
    color: white;
}
body html{
    width: 100%;
}
body{
    background-image: url("../images/background.gif");
}
.container{
    width: 100%;
    /* background: grey; */
    /* margin-top: 10px;
    margin-bottom: 10px; */
}

.header-class{
    background: silver;
    z-index: 3;
}
.search-col{
   /* margin-left: auto;
   margin-right: auto;  */
   padding: 20px;
   text-align: center;
}
.submit-button-class{
    background: rgb(34, 29, 29);
    color: white;
}
.row{
    margin-top: 5px;
    margin-bottom: 5px;
}

.gifButton{
    margin: 5px;
}

.floated-div{
    border: 1px solid silver;
    margin: 10px;
    float: left;
    z-index: 10;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 grey, 0 6px 20px 0 grey;
    padding: 10px;
}

.card-style{
    width: 18rem;
}